

{% extends 'phyApp/base.html'%}
{% load static %}

{% block link %}

     <link rel="stylesheet" href="{% static 'phyApp/simulations.css' %}">
     <link rel="stylesheet" href="{% static 'phyApp/base.css' %}">
     <script src="{% static 'phyApp/base.js'%}"></script>
     <script src="{% static 'phyApp/simulations.js' %}"></script>
 

{% endblock %}



{% block body%}




<section class="holder">

{% for object in Video_project_object %}


<div class="card-holder ">


    <div class="card">

        <div class="media">
            <iframe height="100%" width="100%" src="{{object.youtube_link}}" frameborder="0"></iframe>

        </div>
               

        <div class="project_name ">
        <span>
            {{object.project_name}}
        </span>

        </div>

    </div>

</div>

{% endfor %}

</section>

{% endblock %}

    {% block pagination %}

    <secction class="box">


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if Video_project_object.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ Video_project_object.previous_page_number }}">Previous</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
          {% endif %}
          {% for i in Video_project_object.paginator.page_range %}
            {% if Video_project_object.number == i %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{ i }}
                  <span class="sr-only"></span>
                </span>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if Video_project_object.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ Video_project_object.next_page_number }}">Next</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>

              
    </secction>

    {% endblock pagination %}